{% extends 'meal_app/base.html' %}
{% load static %}

{% block body %}
<div class="container">
<div class="container text-center">
    <br>
    <h2 class="text-center">What would you like to eat?</h2>
    <br>
    <form method="GET">
        {% csrf_token %}
        <input name="name" class="text-center" type="text" placeholder="Search">
        <button type="submit" class="btn btn-danger btn-sm">Search</button>
    </form>
</div>

<br><br>
<div class="row">
    {% for meal in all_meals %}
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="card">
                <img src="{{ meal.image_url }}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <p class="class-title">{{ meal.name }}</p>
                    <hr>
                    <p class="card-text">{{ meal.yt_link }}</p>
                    <a href="/meals/{{ meal.id }}">
                    <input 
                    type='submit'
                    value="Learn More"
                    class="btn btn-danger btn-sm"
                    /></a>

                </div>

            </div>
<br><br>
        </div>

    {% endfor %}
</div>

</div>

{% endblock %}